body {
    font-family: "Open Sans", sans-serif;
}
main {
    max-width: 1150;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.left-title {
    font-weight: 800;
    color: black;
    font-size: 35px;
}
.dor {
    color:rgb(219, 130, 46);
}
nav  ul {
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color:rgb(66, 66, 66);
}
nav li {
    margin-right: 50px;
    list-style: none;
}
.fb {
    color: white;
}
.hire{
    font-weight: 700;
    background-color: rgb(250, 92, 30);
    color: white;
    border:none;
    padding: 16px 35px;
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    font-size: 16px;
}
header {
    background-color: #fff8f3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pp {
    width: 500px;
}
.hi{
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}
.name {
    font-weight: 750;
    font-size: 60px;
    margin: 0;
    font-style: italic;
}
.grt-des {
    font-size: 18px;
    color: rgb(66, 66, 66);
    margin-top: 10px;
}
.about {
    margin: 100px 130px;
    margin-bottom: 0px;
    border-radius: 20px;
    background-color: #fff8f3;
}
.sec-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding-top: 90px;
    margin: 0;
    color:rgb(219, 130, 46);
}
.about-des {
    margin-top: 10px;
    padding: 80px;
    padding-top: 5px;
    padding-bottom: 90px;
    font-size: 18px;
    color: rgb(66, 66, 66);
}
.used-container {
    display: flex;
    gap: 25px;
    margin: 0 100px;
}
.used {
    padding: 30px;
    margin: 40px 0px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.sec-title-2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    margin-top: 100px;
    color:rgb(219, 130, 46);
}
.used-des {
    color:rgb(66, 66, 66);
}
.edu-cont {
    display: flex;
    margin: 0 100px;
    gap: 50px;
}
.edu-typ {
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 10px;
}
.edu-info {
    font-size: 18px;
    color: rgb(66, 66, 66);
}
.edu-col-2 {
    margin-top: 315px;
}
.edu-des {
    padding: 20px;
}
.footer {
    margin: 0 100px;
    margin-top: 100px;
    background-color: #fff0e4;
    display: flex;
    gap: 70px;
    justify-content: center;
    padding: 100px 50px;
    border-radius: 20px;
}
.connect {
    padding: 40px;
}
.input {
    margin-bottom: 30px;
    padding: 20px;
    border: solid white;
    border-radius: 10px;
    display: block;
}
.message {
    margin-bottom: 30px;
    padding: 20px;
    border: solid white;
    padding-bottom: 80px;
    border-radius: 10px;
    display: block;
}
.connect-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.copy {
    text-align: center;
    font-size: 10px;
}
.form {
    padding-right: 40px;
}